<a href="https://colab.research.google.com/github/sugiyama404/ReinfoceLearningForTrading/blob/main/get_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.60)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime

from google.colab import drive
import copy

drive.mount('/content/drive/')
exp_dir = 'Colab Notebooks/workspace/export/'
csv_path2 = '/content/drive/My Drive/' + exp_dir + 'sp500_train.csv'
csv_path3 = '/content/drive/My Drive/' + exp_dir + 'sp500_test.csv'



brk = yf.Ticker('^GSPC')
hist = brk.history(period="max", auto_adjust=True)

df = pd.DataFrame()

df['Date'] = hist.index
df['SP500'] = hist['Close'].values
df2 = df
df3 = df

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
df2 = df2[(df3['Date'] >= datetime(2009,1,1)) & (df2['Date'] < datetime(2015,1,1))]
df2 = df2.set_index('Date')
df2.to_csv(csv_path2)
df2

                  SP500
Date
2009-01-02   931.799988
2009-01-05   927.450012
2009-01-06   934.700012
2009-01-07   906.650024
2009-01-08   909.729980
...                 ...
2014-12-24  2081.879883
2014-12-26  2088.770020
2014-12-29  2090.570068
2014-12-30  2080.350098
2014-12-31  2058.899902

[1510 rows x 1 columns]

In [4]:
df3 = df3[(df3['Date'] >= datetime(2015,1,1)) & (df3['Date'] < datetime(2021,1,1))]
df3 = df3.set_index('Date')
df3.to_csv(csv_path3)
df3

                  SP500
Date
2015-01-02  2058.199951
2015-01-05  2020.579956
2015-01-06  2002.609985
2015-01-07  2025.900024
2015-01-08  2062.139893
...                 ...
2020-12-24  3703.060059
2020-12-28  3735.360107
2020-12-29  3727.040039
2020-12-30  3732.040039
2020-12-31  3756.070068

[1511 rows x 1 columns]